.App {
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}
.App-container {
  width: 100%;
  height: 520px;
  padding: 8px 20px;
  position: absolute;
  top: calc(100vh - 520px);
  background: var(--background);
  border-radius: 15px 15px 0 0;
  text-align: center;
}
.App-container h2 {
  margin-bottom: 10px;
}
.App-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.App-content-input {
  width: 100%;
}
.App-content-input .name,
.App-content-input .artist,
.App-content-input .category,
.App-content-input .genres,
.App-content-input .file {
  padding: 0 6px;
  position: absolute;
  top: 62px;
  left: 40px;
  background: var(--background);
  font-size: 1.4rem;
  color: var(--title);
}
.App-content-input .artist {
  top: 125px;
}
.App-content-input .category {
  top: 187px;
}
.App-content-input .genres {
  top: 250px;
}
.App-content-input .file {
  top: 313px;
}
.App-input,
.App-input-audio {
  width: 100%;
  padding: 12px;
  background: transparent;
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  color: var(--text-primary);
  border: 1px solid var(--icons-buttons);
  border-radius: 10px;
  outline: none;
}
.App-input:focus {
  border: 2px solid var(--icons-buttons);
}
.App-input option {
  background: var(--background);
  color: var(--text-primary);
}
.App-input-audio {
  height: 110px;
  display: flex;
}
input[type="file" i]::-webkit-file-upload-button {
  margin: 6px 0;
  background: transparent;
  color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
}
input[type="file" i] {
  color: var(--text-primary);
}
.App-container-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.App-container-btn button {
  width: 147px;
  padding: 10px 0;
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  color: var(--text-primary);
  border: 1px solid var(--icons-buttons);
  border-radius: 10px;
  cursor: pointer;
}
.App-btn-cancel {
  background: transparent;
}
.App-btn-cancel:hover {
  transform: translateY(-3px);
}
.App-btn-save {
  background: var(--icons-buttons);
}
.App-btn-save:hover {
  transform: translateY(-3px);
}
