.FooterMenu {
  width: 100%;
  height: 65px;
  position: fixed;
  bottom: 0;
  background: var(--background-header-menu);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.FooterMenu-link {
  width: 50px;
  display: grid;
  place-items: center;
  text-decoration: none;
}
.FooterMenu-icons {
  font-size: 25px;
  color: var(--icons-buttons);
}
