.Header {
  width: 100%;
  padding: 0 20px;
  position: fixed;
  top: 0;
  background: var(--background-header-menu);
}
.Header-title {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.Header-content-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.Header-logoApp {
  width: 40px;
}
.Header-search-container {
  width: 85%;
}
.Header-search-input {
  width: 90%;
  height: 40px;
  padding:0 10px 0 10px;
  background: transparent;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  color: var(--text-primary);
  /* border: none; */
  border: 1px solid var(--icons-buttons);
  border-radius: 10px 0 0 10px;
  outline: none;
}
.Header-search-input:focus {
  border: 2px solid var(--icons-buttons);
}
.Header-search-icon-container {
  width: 60px;
  height: 40px;
  background: var(--icons-buttons);
  display: grid;
  place-items: center;
  border-radius: 0 10px 10px 0;
}
.Header-icons-search {
  font-size: 24px;
  color: var(--circle-icons);
  cursor: pointer;
}
.Header-search {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  position: absolute;
  top: 0px;
  right: 0;
  background: var(--background-header-menu);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(100%);
  transition: 0.3s ease all;
}
.Header-search.open {
  transform: translateX(0%);
}
.Header-search-container {
  display: flex;
  align-items: center;
}
