.Home {
  /* padding: 0 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Song-container {
  width: 100%;
  margin-top: 80px;
  padding: 0 0 0 20px;
}
.Song-contaner-slider {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.Song-contaner-slider::-webkit-scrollbar {
  height: 2px;
  background-color: none;
}
.Song-contaner-slider::-webkit-scrollbar-thumb {
  background-color: var(--icons-buttons);
  border-radius: 10px;
}
.Song-container-sliderSong-space {
  width: 300px;
  background-color: transparent;
  color: transparent;
  position: relative;
  scroll-snap-align: start;
}
.AddButton-button-container {
  width: 100%;
  padding: 0 20px;
}
.AddButton-button {
  width: 100%;
  margin: 20px 0 40px 0;
  padding: 15px 0;
  background-color: var(--icons-buttons);
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  color: var(--text-primary);
  text-decoration: none;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
