.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home-song-container {
  width: 100%;
  margin-top: 65px;
  padding: 0 20px 0 20px;
}
/* .Home-song-container-slider {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.Home-song-container-slider::-webkit-scrollbar {
  height: 2px;
  background-color: none;
}
.Home-song-container-slider::-webkit-scrollbar-thumb {
  background-color: var(--icons-buttons);
  border-radius: 10px;
} */
.Home-add-button-container {
  width: 100%;
  padding: 0 20px;
}
.Home-add-button {
  width: 100%;
  margin: 20px 0 80px 0;
  padding: 15px 0;
  background-color: var(--icons-buttons);
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  color: var(--text-primary);
  text-decoration: none;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
