.NotFound-header {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  position: fixed;
  top: 0;
  background-color: var(--background-header-menu);
}
.NotFound-header-title {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.NotFound-header-content-title {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.NotFound-header-logoApp {
  width: 40px;
}

.NotFound-content-imgError{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

}

.NotFound-imgError{
  width: 280px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 20px;
}

.NotFound-error-LineText {
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: 90px;
  font-size: 2.7rem;
  line-height: 35px;
}

.NotFound-error-volver {
  height: 45px;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--icons-buttons);
  padding:8px 70px;
  border-radius: 8px;
  color: var(--text-primary);
  font-size: 2.2rem;
  position: absolute;
  bottom: 0;
  border: none;
  transform: translateY(50%);
}
