.PlayerHeader{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.PlayerHeader-Icon{
  font-size: 24px;
  margin: 20px 0 10px 0;
  color: var(--circle-icons);
}