.PlayerSlider{
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.PlayerSlider-container-slider{
  width: 300%;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.PlayerSlider-container-slider section{
  width: 100%;
  padding: 10px;
}
.PlayerSlider-container-slider section img{
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 4px  #011822, -2px -2px 4px #ffffff2f;
}
.PlayerSlider-container-description {
  width: 100%;
  display: grid;
  place-items: center;
}
.PlayerSlider-description {
  margin-top: 13px;
  text-align: center;
  display: grid;
  gap: 4px;
}
.Progressline {
  margin-top: 20px;
  content: "";
  width: 250px;
  height: 2px;
  background: rgba(128, 128, 128, 0.315);
  border-radius: 10px;
}
.Progressline div {
  content: "";
  width: 50%;
  height: 2px;
  background: var(--title);
  z-index: 1;
  position: relative;
  border-radius: 10px;
}
.Progressline div:before{
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  z-index: 1;
  background: var(--title);
  left: calc(100% - 7px);
  top: calc(50% - 7px);
}
.PlayerSlider-TimeContainer{
  width: 250px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}
.PlayerSlider-TimeContainer span{
  color: white;
  font-size: 1.3rem;
  font-weight: 200;
}